/* Fonts */
@supports (-webkit-touch-callout: none) {
    h2 {
        color: orange;
    }
}
/* Font Imports */
/* Nunito, Inter, Roboto in head.html */

/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Roboto", "Inter", 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-weight: 400;
    font-style: normal;
}

a h1 {
    text-decoration: none;
}

h2 {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 2em;
    font-display: swap;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

h3 {
    font-weight: 400;
    font-style: normal;
}

h4 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: rgba(0,0,0,.6);
    font-size: 1.2em;
    font-weight: 500;
}

p {
    display: flex;
}

strong {
    font-weight: 700;
}

ul,
ol,
li {
    color: #666;
    padding-bottom: 5px;
}

ul {
    color: #666;
    padding-left: 0.7em;
    list-style-type: '⚡';
    display: table;
}

ul li {
    list-style-type: '⚡';
}

em {
    font-style: italic;
}

hyper {
    margin: 20px auto;
    font-size: 2em;
    text-align: center;
    display: block;
    text-shadow: 2px 2px orange;
    font-style: italic;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    max-width: 800px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
    margin: 0 auto;
}

summary {
    cursor: pointer;
    width: fit-content;
    padding: 5px 0;
    margin: 10px 0;
}

.block {
    display: block !important;
}

.fancy {
    font-family: "Nunito", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

.underline {
    text-decoration: underline;
}

div.careerdetails {
    max-width: 700px;
    line-height: 1.5em;
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

span.emphasis {
    padding: 10px 30px;
    display: block;
    background-color: aliceblue;
}

h3#what-can-we-do-for-you {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    margin: 48px auto;
}

/* Header */
header {
    background-color: #ff6f00;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    max-width: 600px;
    margin: auto;
    font-weight: 600;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* Navigation */
nav ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 0;
}

nav ul li {
    margin: 0 10px 10px 10px;
    list-style-type: none;
}

nav button {
    background-color: #fff;
    border: 0;
    padding: 0;
    font-size: 1em;
    color: #ff6f00;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 90px;
    width: 100px;
    margin: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

nav button:hover {
    background-color: #d25b00;
    color: #fff;
}

nav button:active {
    transform: scale(0.98);
}

/* Flask Icons */
nav button::before {
    display: block;
    margin: 0 auto 5px auto;
    transition: transform 0.3s ease;
}

nav button:active::before {
    transform: rotate(20deg);
    /* Flask icon wiggle effect */
}

/* Icons */
a img.icon {
    width: 25px;
    height: 25px;
    margin: 1em;
    box-shadow: none;
}

/* Main Content */
main {
    text-align: center;
}

#content-section h1 {
    margin-top: auto;
}

#content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.inlineLink {
    margin: 0;
    width: auto;
}

.flexbox-array {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 25px;
    align-items: anchor-center;
}

/* Cards */
.card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    transition: box-shadow 0.2s ease-in-out;
}
.card:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.card img {
    width: 75%;
    height: auto;
}

.card span.flexbox-array {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.card img.thumbnail {
  width: 50px;
  height: auto;
}

.card h3 {
    color: #ff6f00;
    font-size: 1.5em;
}

.card p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}

.card a.toplink {
    color: #ff6f00;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    padding: 10px;
    margin: 0 10%;
    height: 250px;
    overflow: hidden;
}

.card a.cardlink {
    color: #ff6f00;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.card a {
    text-decoration: underline;
}


/* Texblock */
.textblock {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1100px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    text-align: left;
}

.textblock img {
    width: auto;
    height: auto;
}

.textblock h3 {
    color: #ff6f00;
    font-size: 1.5em;
}

.textblock p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
    display: flex;
}

.textblock a {
    color: #ff6f00;
    font-weight: bold;
    text-decoration: underline;
    display: contents; 
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.image-container span {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(33% - 1.5rem);
  max-width: calc(33% - 1.5rem);
  padding: 0 3%;
  min-width: 150px;
}

.image-container span img {
  width: 150px;
  height: 150px;
  display: block;
  object-fit: contain;
}

.image-container .caption {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}


/* Footer */
footer {
    background-color: #ff6f00;
    color: ivory;
    text-align: center;
    padding: 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: ivory;
    text-decoration: none;
}

footer p {
    margin: 10px;
    text-align: center;
    display: block;
}

/* Hiring Section */
section.hiring {
    background-color: firebrick;
    color: ivory;
    padding: 40px;
    text-align: center;
    margin: 0;
}

/* Copyright Section */
section.copyright {
    color: ivory;
    background-color: var(--orange);
    padding: 20px;
    text-align: center;
}

/* Contact Section */
section.contact {
    color: ivory;
    background-color: #333;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

section.contact h2 {
    font-size: 2em;
}

div.mailchimp {
    color:#333;
    padding-bottom: 20px;
    text-align: center;
}
div#mc_embed_shell {
    background: #fff;
    width: 100%;
    margin: auto;
    max-width: 300px;
    display: inline-block;
    margin: 10px;
    color: #666;
}
.indicates-required {
    display: none;
}
.mc-header {
    text-align: center;
    font-size: 1.5em;
}

/* Blog Section */
.blog-list {
  display: flex;
  padding: 2em 0;
  justify-content: center;
  flex-flow: wrap;
}
article.blog h3 a {
    text-decoration: none;
    color: chocolate;
}
article.blog div.metadata {
    margin-top: 5px;
}
article.blog p {
    text-align: left;
}

/* Pages with posts and Projects */
section.blog {
    background-color: antiquewhite;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
}

section.blog a {
    display: inline-block;
    max-width: 130px;
    background-color: orange;
    color: #333;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    transition: box-shadow 0.2s ease-in-out;
}
section.blog a:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}


/* Blog styles */
blockquote {
    border-left: 4px solid #ff6f00;
    padding: 10px 20px;
    margin: 20px 0;
    font-style: italic;
    background-color: #f7f7f7;
    color: slategray;
}

div.blog {
    max-width: 1100px;
    text-align: left;
}

div.blog:hover {
    transform: none;
}

div.metadata {
    font-size: 0.8em;
    color: #333;
    margin-bottom: 10px;
    line-height: .5em;
}

/* About The Author Section */
section.about {
    background-color: inherit;
    color: inherit;
    text-align: left;
    padding: 0;
}

section.about img.author-photo {
    float: left;
    width: 100px;
    height: auto;
    margin: 10px 20px 20px 0;
}


/* Page Specific Styles */

section#content-section.page-websites div.card img {
    width: auto;
    border: 1px solid gray;
    max-width: 100%;
}