/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a h1 {
    text-decoration: none;
}

h2 {
  font-family: "Nabla", "Reem Kufi Ink", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 2em;
}

h3 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul, ol, li {
    color: #666;
}
ul {
    color: #666;
    padding-left: 0.7em;
}

em {
    font-style: italic;
}

.block {
    display: block !important;
}

.fancy {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
  }

/* Header */
header {
    background-color: #ff6f00;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Navigation */
nav ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav button {
    background-color: #fff;
    border: 2px solid #ff6f00;
    padding: 0.8em;
    font-size: 1em;
    color: #ff6f00;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 90px;
    width: 100px;
    margin: auto;
}

nav button:hover {
    background-color: #d25b00;
    color: #fff;
}

nav button:active {
    transform: scale(0.98);
}

/* Flask Icons */
nav button::before {
    display: block;
    margin: 0 auto 5px auto;
    transition: transform 0.3s ease;
}

nav button:active::before {
    transform: rotate(20deg); /* Flask icon wiggle effect */
}

/* Main Content */
main {
    padding: 10px;
    text-align: center;
}

#content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.inlineLink {
    margin: 0;
    width: auto;
}

/* Cards */
.card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    color: #ff6f00;
    font-size: 1.5em;
}

.card p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}

.card a {
    color: #ff6f00;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    padding: 10px;
    margin: 0 10%;
}

.card:hover {
    transform: scale(1.02);
}


/* Texblock */
.textblock {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    max-width: 1100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.textblock img {
    width: 100%;
    height: auto;
}

.textblock h3 {
    color: #ff6f00;
    font-size: 1.5em;
}

.textblock p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}

.textblock a {
    color: #ff6f00;
    font-weight: bold;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #ff6f00;
    color: ivory;
    text-align: center;
    padding: 10px 0 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: ivory;
    text-decoration: none;
}

footer p {
    margin: 10px;
}

/* Contact Section */
section.contact {
    color: ivory;
    background-color: #333;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
}
section.contact h2 {
    font-size: 2em;
}

/* Blog Section */
section.blog {
    background-color: antiquewhite;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
}

section.blog a {
    display: inline-block;
    max-width: 130px;
    background-color: orange;
    color: #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Blog styles */
blockquote {
    border-left: 4px solid #ff6f00;
    padding: 10px 20px;
    margin: 20px 0;
    font-style: italic;
    background-color: #f7f7f7;
    color: slategray;
}

div.blog {
    max-width: 1100px;
    text-align: left;
}
div.blog:hover {
    transform: none;
}

div.metadata {
    font-size: 0.8em;
    color: #333;
    margin-bottom: 10px;
    line-height: .5em;
}
