<section class="about">
    <img src="/assets/2024_robert.webp" alt="Robert's photo" class="author-photo">
    <p>Robert Allen, MBA</p>
    <p>- Advisory Board Marketing Committee Chair, Florida Institute of Technology
    <br>- Pension Trustee, Sebastian Police Pension Fund
    <br>- Digital Transformation Executive 
    <br>- Former Head of Enterprise Marketing Technology 
    <br>- Ex-Amazon | Ex-Discover
    </p>
    <p>
        <a href="https://www.linkedin.com/in/robertdallenmba/"><img class="icon" src="/assets/logo_linkedin.png" alt="LinkedIn"></a>
        <a href="https://github.com/TheRedJalapeno"><img class="icon" src="/assets/logo_github.svg" alt="Github"></a>
    </p>
        
</section>