<section class="about">
    <img src="/assets/2024_robert.webp" alt="Robert's photo" class="author-photo">
    <ul>
        <h3>Robert Allen, MBA</h3>
        <em style="color: #aaaaaa;">Marketing Operations Executive, Founder, Author</em>
        <hr>
        <li>Founder &amp; CEO of ZingLab Technology</li>
        <li>Founder &amp; CEO of AiryChat AI</li>
        <li>Marketing Committee Chair, Florida Institute of Technology Bisk College of Business Advisory Board</li>
        <li>Former Director of Marketing Operations &amp; Head of Enterprise Marketing Technology at Discover Financial Services</li>
        <li>Former Sr Marketing Operations Manager at Amazon</li>
        <li>Former Sr Marketing Operations Manager at Holland America &amp; Seabourne Cruise Lines</li>
        <li>Former Director of Marketing Operations at GoLocal Austin</li>
        <li>Former Founder & CEO of Splash Mktg</li>
        <a href="https://www.linkedin.com/in/robertdallenmba/"><img class="icon" src="/assets/logo_linkedin.webp" alt="LinkedIn"></a>
        <a href="https://www.crunchbase.com/person/robert-allen-55cf"><img class="icon" src="/assets/logo_crunchbase.webp" alt="Crunchbase"></a>
        <a href="https://github.com/TheRedJalapeno"><img class="icon" src="/assets/logo_github.svg" alt="Github"></a>
    
    </ul>
        
</section>