<section id="content-section">
  {%- assign items = site.posts | where: "type", "blog" | sort: "date" | reverse -%}
  {%- if items and items.size > 0 -%}
    {%- for post in items -%}
      <div class="card">
        {%- if post.image and post.image != "" -%}
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy" class="postimage blogimage">
        {%- endif -%}
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <a class="cardlink" href="{{ post.url | relative_url }}">Read more</a>
        {%- if post.livelink and post.livelink != "" -%}
          <a class="cardlink" href="{{ post.livelink }}" target="_blank">See it live</a>
        {%- endif -%}
        {%- if post.githublink and post.githublink != "" -%}
          <a class="cardlink" href="{{ post.githublink }}" target="_blank">GitHub</a>
        {%- endif -%}
      </div>
    {%- endfor -%}
  {%- else -%}
    <p>No blog posts found.</p>
  {%- endif -%}
</section>
