<footer>

    <!-- Hiring Section -->
    <section id="hiring" class="hiring">
        <h1>We are hiring!</h1>
        <p><a href="https://zinglab.com/careers" class="underline">Join our team →</a></p>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact flexbox-array">
        <span>
            <h1>Contact Us</h1>
            <p>
                <a href="mailto:info@zinglab.com">
                    <span>info</span>@<span>ZingLab.com</span>
                </a>
            </p>
        </span>
        <span class="left">
            <ul class="flexbox-array">
                <li><a href="https://zinglab.com">Home</a></li>
                <li><a href="https://zinglab.com/about">About</a></li>
                <li><a href="https://zinglab.com/books">Books</a></li>
                <li><a href="https://zinglab.com/nestedhex">Nested Hex</a></li>
                <li><a href="https://zinglab.com/websites">Websites</a></li>
                <li><a href="https://zinglab.com/projects">Projects</a></li>
                <li><a href="https://zinglab.com/research">Research</a></li>
                <li><a href="https://zinglab.com/portfolio">Portfolio</a></li>
                <li><a href="https://zinglab.com/careers">Careers</a></li>
            </ul>
        </span>
    </section>

    <!-- Copyright Section -->
    <section id="copyright" class="copyright">
        <p>&copy;
            <script>document.write(new Date().getFullYear())</script> ZingLab. All rights reserved.
        </p>
    </section>

</footer>