<header>
    <a href="/">
        <h1>ZingLab</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Home</button></a></li>
            <li><a href="/books"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Books</button></a></li>
            <li><a href="/websites"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Websites</button></a></li>
            <li><a href="/projects"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Projects</button></a></li>
        </ul>
    </nav>
</header>