<header>
    <a href="/">
        <h1>ZingLab</h1>
    </a>

    <nav>
        <ul>
            <li><a href="/nestedhex"><button>
                        <span class="material-symbols-outlined">hexagon</span>
                        <br>Nested Hex</button></a></li>
            <li><a href="/research"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Research</button></a></li>
            <li><a href="/books"><button>
                        <span class="material-symbols-outlined">book_2</span>
                        <br>Books</button></a></li>
            <li><a href="/websites"><button>
                        <span class="material-symbols-outlined">public</span>
                        <br>Websites</button></a></li>
        </ul>
    </nav>
    <!--    
    <nav>
        <ul>
            <li><a href="/"><button>
                        <span class="material-symbols-outlined">home</span>
                        <br>Home</button></a></li>
            <li><a href="/projects"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Projects</button></a></li>
            <li><a href="/portfolio"><button>
                        <span class="material-symbols-outlined">palette</span>
                        <br>Portfolio</button></a></li>
            <li><a href="/about"><button>
                        <span class="material-symbols-outlined">public</span>
                        <br>About</button></a></li>
            <li><a href="/#contact"><button>
                        <span class="material-symbols-outlined">book_2</span>
                        <br>Contact</button></a></li>
        </ul>
    </nav>
    -->
        <!--
            <ul class="flexbox-array" style="max-width: 800px;margin: auto;">
                <li><a href="https://zinglab.com">Home</a></li>
                <li><a href="https://zinglab.com/about">About</a></li>
                <li><a href="https://zinglab.com/books">Books</a></li>
                <li><a href="https://zinglab.com/nestedhex">Nested Hex</a></li>
                <li><a href="https://zinglab.com/websites">Websites</a></li>
                <li><a href="https://zinglab.com/projects">Projects</a></li>
                <li><a href="https://zinglab.com/research">Research</a></li>
                <li><a href="https://zinglab.com/portfolio">Portfolio</a></li>
            </ul>
        -->
</header>