<header>
    <a href="/">
        <h1>ZingLab</h1>
    </a>

    <nav>
        <ul>
            <li><a href="/"><button>
                        <span class="material-symbols-outlined">home</span>
                        <br>Home</button></a></li>
            <li><a href="/about"><button>
                        <span class="material-symbols-outlined">public</span>
                        <br>About</button></a></li>
            <li><a href="/research"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Research</button></a></li>
            <li><a href="/#contact"><button>
                        <span class="material-symbols-outlined">book_2</span>
                        <br>Contact</button></a></li>
        </ul>
    </nav>
<!--    <nav>
        <ul>
            <li><a href="/"><button>
                        <span class="material-symbols-outlined">home</span>
                        <br>Home</button></a></li>
            <li><a href="/portfolio"><button>
                        <span class="material-symbols-outlined">palette</span>
                        <br>Portfolio</button></a></li>
            <li><a href="/websites"><button>
                        <span class="material-symbols-outlined">public</span>
                        <br>Websites</button></a></li>
            <li><a href="/projects"><button>
                        <span class="material-symbols-outlined">experiment</span>
                        <br>Projects</button></a></li>
            <li><a href="/books"><button>
                        <span class="material-symbols-outlined">book_2</span>
                        <br>Books</button></a></li>
        </ul>
    </nav>
-->
</header>